{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Recipe</h1>
    <div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <img src={{recipe.imageURL}} class="card-img-top" alt="coming-soon">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.ingredients }}</p>
            <p class="card-text">{{ recipe.instructions }}</p>
            <a class="btn btn-warning" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>
            </div>
        </div>
    </div>
    <div class="d-flex my-5 justify-content-start">
        <a class="btn btn-secondary mx-5" href="{{ path('app_recipe_index') }}">back to list</a>
        {{ include('recipe/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
